<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="100%" alt="Logo de mercado liebre">
<section>
    <article>
        <p>Lugar para poner la barra de busquedas</p>
    </article>
<article>
    <p>Compra en cuotas y sin tarjeta de credito</p>
</article>
</section>

<nav>
    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="">Crea tu cuenta</a></li>
        <li><a href="">Ingresa</a></li>
        <li><a href="">Mis compras</a></li>
    </ul>
</nav>
    </header>
<section><img src="/images/img-home-banner.jpg" width="100%" alt=""></section>
    <main>
        <ul>
            <li>Seccion: Basada en tu ultima visita</li>
        </ul>
        <section>
           <article>
               <img src="/images/img-cafetera-moulinex.jpg"  width="100%"  alt="">
               <p>$6.770</p>
               <p>40% off</p>
               <h4>Cafetera Moulinex</h4>
           </article>

           <article>
            <img src="/images/img-macbook-pro-2019.jpg"  width="100%"  alt="">
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
        </article>

        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg"  width="100%"  alt="">
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Samsung Galaxy S10</h4>
        </article>

        <article>
            <img src="/images/img-tv-samsung-smart.jpg"  width="100%"  alt="">
            <p>$23.200</p>
            <p>5% off</p>
            <h4>Smart Samsung 43"</h4>
        </article>
        </section>
        <ul>
            <li>Seccion de ofertas</li>
        </ul>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg"  width="100%"  alt="">
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
            </article>
 
            <article>
             <img src="/images/img-macbook-pro-2019.jpg"  width="100%"  alt="">
             <p>$230.000</p>
             <p>20% off</p>
             <h4>MacBook Pro 2019</h4>
         </article>
 
         <article>
             <img src="/images/img-samsung-galaxy-s10.jpg"  width="100%"  alt="">
             <p>$70.500</p>
             <p>10% off</p>
             <h4>Samsung Galaxy S10</h4>
         </article>
 
         <article>
             <img src="/images/img-tv-samsung-smart.jpg"  width="100%"  alt="">
             <p>$23.200</p>
             <p>5% off</p>
             <h4>Smart Samsung 43"</h4>
         </article>

        </section>

    </main>

    <footer>

    </footer>
    
</body>
</html>